@{
    ViewBag.Title = "Home Page";
}


<div style="margin-top:100px">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="color:black">Siumlador de precios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p style="color:black;">Haga simulaciones de prestamos e imprima reportes</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a class="btn btn-info" href="~/Prestamos/Simulaciones">Hacer una simulación</a>
        </div>
    </div>
</div>